body{
    background-color: rebeccapurple;
}
 #player{
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    border-style: dashed;
    border-color: aqua;
 }

 h1{
text-align: center;
color: white;

 }

 img{
   border-radius: 50%; 
   height: 10%;
   width: 10%;

 }